/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

ul,
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li,
ol li {
    text-decoration: none;
    list-style: none;
}

ul a,
ol a {
    text-decoration: none;
    color: black;
}

body {
    background-color: #eee;
}

/*HEADER*/
header {
    border: dotted red 2px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header>img {
    border: solid blue 1px;
    width: 100%;
    max-width: 400px;
    height: 100%;
    margin-left: 20px;
}

.nav-bar {
    border: solid green 1px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 20px;
}

.nav-bar li {
    display: flex;
    list-style: none;
}

.nav-bar__link {
    text-decoration: none;
    color: #000;
}

/*REGISTRATION FORM*/
.form {
    border: dotted red 2px;
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.form__title {
    border: solid blue 1px;
    width: 100%;
    max-width: 90%;
    margin-top: 5px;
    text-align: center;
    font-size: 1.5rem;

}

.form__email {
    width: 100%;
    max-width: 300px;
    height: 5vh;
    padding: 5px;
}

.btn {
    border: none;
    width: 100%;
    max-width: 150px;
    height: 5vh;
    max-height: 35px;
    background-color: #f1c40f;
    font-size: 1.1em;
    font-weight: 800;
    padding-top: 0;
    cursor: pointer;
    margin-bottom: 5px;
}

.btn:hover {
    background-color: #fa7a02ba;
    background: linear-gradient(#e7ac75fa);
    transition: 1.5s;
}

/*FEATURES SECTION*/
.features {
    border: dotted red 2px;
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.features__container {
    border: solid blue 1px;
    width: 100%;
    max-width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.features__container > img {
    border: solid green 1px;
    order: -1;
    width: 5vw;
}

.features__container--text {
    border: solid yellowgreen 1px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 5px;
}

.features__container--text > h2 {
    border: solid purple 1px;
    width: 50%;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: start;    
}

.features__container--text > p {
    border: solid red 1px;
    width: 100%;
    font-size:1rem;
}

